@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,700&family=Vidaloka&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  color: #1f2937;
}

h1,
h2,
h3,
h4 {
  font-family: 'Vidaloka', serif;
}

.img-cover > span {
  height: 100% !important;
}

ul li::marker {
  color: #1f2937 !important;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.search-option[aria-selected='true'] {
  @apply bg-gray-100;
}
